@import url(variables.css);
@import url(fonts.css);
@import url(all.min.css);

/* Reseteo */

* {
    box-sizing: border-box;
}

/* Etiquetas generales */

body {
    font-family: var(--font-texto);
    margin: 0;

    background-color: var(--color-fondo);
    color: var(--color-texto);
}

pre {
    overflow: auto;

    background-color: var(--color-fondo-suave);
    padding: var(--margen-pequeno);
    border-radius: var(--margen-pequeno);
}

ol ol {
    list-style-type: lower-alpha;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: var(--margen-pequeno);
}

table {
    width: 100%;
    border-collapse: collapse;

    & thead {
        background-color: var(--color-texto);
        color: var(--color-fondo);
    }

    & tbody tr:nth-of-type(even) {
        background-color: var(--color-fondo-suave);
    }

    & th,
    td {
        border: 1px solid var(--color-fondo-medio);
        padding: var(--margen-pequeno);
    }

    & th {

        &:first-of-type {
            text-align: right;
        }

        &:not(:first-of-type) {
            text-align: left;
        }
    }
}

a {
    text-decoration: none;
    color: rgb(51, 99, 154);
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-titulos);
}

figure,
img,
audio,
video,
iframe {
    margin: 0;
    width: 100%;
    border-radius: var(--margen-pequeno);
    border: 0;
}

.destacado {
    padding: 0 var(--margen-pequeno);
    background-color: var(--color-fondo-suave);
    border-radius: var(--margen-pequeno);
    font-weight: bold;
}

.aspecto {
    position: relative;
    height: 0px;
    width: 100%;
}

.a16x9 {
    padding-bottom: 56.25%;
}

.a4x3 {
    padding-bottom: 75%;
}

.a21x9 {
    padding-bottom: 42.86%;
}

.a1x1 {
    padding-bottom: 100%;
}

.aspecto iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* Estructura */

header,
footer {
    padding: var(--margen-grande);
    background-color: var(--color-texto);
    color: var(--color-fondo);
    text-align: center;

    & h1 {
        margin-top: 0;
        color: var(--color-fondo);
    }

    & ul {
        padding: 0;

        & li {
            list-style: none;

            & a {
                display: inline-block;

                padding: 0 var(--margen-pequeno);
                border-radius: var(--margen-pequeno);
                color: var(--color-fondo);

                &:hover {
                    text-decoration: none;
                    font-weight: normal;

                    background-color: var(--color-fondo);
                    color: var(--color-texto);
                }
            }
        }
    }
}

main {
    padding: var(--margen-pequeno);
}

h2 {
    font-size: 3rem;
    text-align: center;
    background-color: var(--color-texto);
    border-radius: var(--margen-pequeno);
}

h3 {
    background-color: var(--color-fondo-suave);
    margin: var(--margen-pequeno) calc(-1 * var(--margen-pequeno));
    padding: var(--margen-pequeno);
}

label,
input,
select,
textarea {
    width: 100%;
}

input,
select,
textarea,
button,
fieldset {
    margin-bottom: var(--margen-pequeno);
    border: 1px solid var(--color-fondo-medio);
    border-radius: var(--margen-pequeno);
    padding: var(--margen-pequeno);
}

aside {
    background-color: var(--color-fondo-suave);

    & ul {
        padding: var(--margen-pequeno);
    }

    & li {
        list-style: none;

    }
}

#redes-sociales li {
    display: inline-block;
}

#arriba {
    position: fixed;
    bottom: var(--margen-grande);
    right: var(--margen-grande);

    background-color: var(--color-fondo-suave);
    border: 1px solid var(--color-fondo-medio);
    border-radius: 100%;
    padding: 0 var(--margen-pequeno);

    box-shadow: 3px 3px var(--margen-pequeno) rgba(0, 0, 0, 0.5);
}

#arriba:active {
    box-shadow: 0 0 0;
    transform: scale3d(0.9, 0.9, 1);
}

@media (min-width: 768px) {
    header ul {
        display: flex;
    }

    #html {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        width: 100%;
    }

    #titulos {
        order: 1;
        width: 25%;
    }

    #vinculos {
        order: 2;

        width: 25%;

        & p {
            display: flex;
            flex-direction: column;
        }
    }

    #parrafos {
        order: 5;

        width: 50%;
    }

    #listas {
        order: 3;

        width: 25%;
    }

    #tablas {
        order: 4;

        width: 25%;
    }

    #multimedia {
        order: 6;

        width: 50%;
    }

    #formularios {
        order: 7;

        display: flex;
        flex-wrap: wrap;

        & h3 {
            width: 100%;
        }

        & form {
            width: 50%;

            & fieldset {
                height: 100%;
            }

            &:last-of-type {
                width: 100%;

                display: flex;
                flex-wrap: wrap;

                & > * {
                    width: 50%;
                }
            }
        }
    }

    aside ul {
        display: flex;

        & li {
            padding: 0 var(--margen-pequeno)
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    #arriba {
        display: none;
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }
    
    header, footer {
        width: 100%;
    }

    main {
        width: 90%;
    }

    aside {
        width: 10%;

        & ul {
            flex-direction: column;
        }
    }
}